* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  font-size: 10px;
}
a {
  text-decoration: none;
  color: black;
}
button {
  background-color: #f1eba7;
  color: rgb(0, 0, 0);
  border-color: #f9f3af;
  font-size: 12px;
}
table {
    border: 1px solid #22482b;
    border-collapse: collapse;
}
table button {
    margin-top: 10px;
    width: 100%;
}
table tr th {
    color: rgb(170, 135, 142);
    font-weight: 500;
    font-size: 13px;
    border: 1px solid #22482b;
    padding: 2px;
  }
  table tr td {
    font-size: 12px;
    padding: 2px;
    text-align: center;
    border: 1px solid #22482b;
    width: 40px;
  }
#control__navBar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #689872;
  color: white;
  font-weight: 600;
  width: 100%;
}
.navBar--homepage a {
  color: white;
}
#logOutBtn {
  font-size: 10px;
  margin-top: 10px;
}
.menuBar {
  width: 100%;
  background-color: #bbe0c4;
  font-weight: 600;
  line-height: 1.5;
  display: flex;
  justify-content: space-around;
}
#menuBar p {
  color: rgb(104, 102, 102);
  margin: 0;
  padding: 3%;
}
#menuBar div:hover {
  background-color: #80ba8e;
}
.menuCreate {
  width: 100%;
}
.create--container {
  display: flex;
  gap: 2%;
  margin: 2%;
}
.menu__create p {
  font-size: 12px;
}
.create--input {
  width: 100%;
}
.create--input input {
  width: 100%;
  margin-bottom: 10px;
}
.creat--btn {
  margin-left: 40%;
}

.menuContent {
  width: 100%;
}
.menu__search {
  display: none;
}
.menu__product {
  width: 100%;
}
.menu__product table {
  width: 95%;
  margin: 3%;
}

.menu__product img {
  width: 100%;
}
.menu__user {
  display: none;
  width: 100%;
}
.menu__user table {
  width: 98%;
  margin: 1%;
}

.menu__order {
  display: none;
  width: 100%;
}
.menu__order table {
  width: 98%;
  margin: 1%;
}

@media screen and (min-width: 960px) {
    table {
        font-size: 20px;
    }
  #control__navBar {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 20px;
  }
  #logOutBtn {
    font-size: 20px;
    margin-top: 20px;
  }
  .menuBar {
    width: 20%;
    height: 60%;
    display: block;
    background-color: #bbe0c4;
    font-weight: 600;
    line-height: 3;
    font-size: 20px;
    padding: 1%;
    float: left;
  }
  .menuCreate {
    width: 25%;
    position: fixed;
    top: 15%;
    left: 75%;
  }
  .menu__search {
    width: 55%;
    display: flex;
    margin-left: 20%;
  }
  .menu__search input {
    width: 80%;
    margin: 1%;
  }
  .menu__search button {
    width: 15%;
    margin: 1%;
  }
  .menu__product {
    width: 55%;
    margin-left: 19%;
  }
  .menu__user {
    width: 54%;
    margin-left: 20%;
  }
  .menu__order {
    width: 54%;
    margin-left: 20%;
  }
}
